node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts
*.bin
*.abi

# Inception LRT custom ignore
*.tgz
/projects/tests/omnivault-rebalancer/contracts/
/projects/omnichain-deployer/contracts/

